# Generacion de predicciones medite uso de modelo ya entrenado

In [21]:
from sklearn.externals import joblib
import pandas as pd

In [12]:
#arreglo de columnas
columnas_requeridad=['BLUE_EFFICIENCY', 'MONTO_VENTA', 'PROVINCIA_CLIENTE_ANTOFAGASTA',
       'PROVINCIA_CLIENTE_ARAUCO', 'PROVINCIA_CLIENTE_ARICA',
       'PROVINCIA_CLIENTE_BIO BIO', 'PROVINCIA_CLIENTE_CACHAPOAL',
       'PROVINCIA_CLIENTE_CALERA DE TANGO', 'PROVINCIA_CLIENTE_CARDENAL CARO',
       'PROVINCIA_CLIENTE_CAUQUENES', 'PROVINCIA_CLIENTE_CAUTIN',
       'PROVINCIA_CLIENTE_CHACABUCO', 'PROVINCIA_CLIENTE_CHAÑARAL',
       'PROVINCIA_CLIENTE_CHILOE', 'PROVINCIA_CLIENTE_CHOAPA',
       'PROVINCIA_CLIENTE_COIHAIQUE', 'PROVINCIA_CLIENTE_COLCHAGUA',
       'PROVINCIA_CLIENTE_COLINA', 'PROVINCIA_CLIENTE_CONCEPCION',
       'PROVINCIA_CLIENTE_COPIAPO', 'PROVINCIA_CLIENTE_CORDILLERA',
       'PROVINCIA_CLIENTE_COYHAIQUE', 'PROVINCIA_CLIENTE_CURICO',
       'PROVINCIA_CLIENTE_EL LOA', 'PROVINCIA_CLIENTE_ELQUI',
       'PROVINCIA_CLIENTE_HUASCO', 'PROVINCIA_CLIENTE_IQUIQUE',
       'PROVINCIA_CLIENTE_LIMARI', 'PROVINCIA_CLIENTE_LINARES',
       'PROVINCIA_CLIENTE_LLANQUIHUE', 'PROVINCIA_CLIENTE_LOS ANDES',
       'PROVINCIA_CLIENTE_MAGALLANES', 'PROVINCIA_CLIENTE_MAIPO',
       'PROVINCIA_CLIENTE_MALLECO', 'PROVINCIA_CLIENTE_MARGA MARGA',
       'PROVINCIA_CLIENTE_MELIPILLA', 'PROVINCIA_CLIENTE_OSORNO',
       'PROVINCIA_CLIENTE_PADRE HURTADO', 'PROVINCIA_CLIENTE_PETORCA',
       'PROVINCIA_CLIENTE_PUCON', 'PROVINCIA_CLIENTE_QUILLOTA',
       'PROVINCIA_CLIENTE_RANCAGUA', 'PROVINCIA_CLIENTE_RANCO',
       'PROVINCIA_CLIENTE_SAN ANTONIO',
       'PROVINCIA_CLIENTE_SAN FELIPE DE ACONCAGUA',
       'PROVINCIA_CLIENTE_SAN JOSE DE MAIPO', 'PROVINCIA_CLIENTE_SANTIAGO',
       'PROVINCIA_CLIENTE_TALAGANTE', 'PROVINCIA_CLIENTE_TALCA',
       'PROVINCIA_CLIENTE_TAMARUGAL', 'PROVINCIA_CLIENTE_ULTIMA ESPERANZA',
       'PROVINCIA_CLIENTE_VALDIVIA', 'PROVINCIA_CLIENTE_VALPARAISO',
       'PROVINCIA_CLIENTE_ÑUBLE', 'MODELO_VEHICULO_CLASE A',
       'MODELO_VEHICULO_CLASE AMG', 'MODELO_VEHICULO_CLASE B',
       'MODELO_VEHICULO_CLASE C', 'MODELO_VEHICULO_CLASE CL',
       'MODELO_VEHICULO_CLASE CLA', 'MODELO_VEHICULO_CLASE E',
       'MODELO_VEHICULO_CLASE G', 'MODELO_VEHICULO_CLASE GL',
       'MODELO_VEHICULO_CLASE GLA', 'MODELO_VEHICULO_CLASE GLC',
       'MODELO_VEHICULO_CLASE GLK', 'MODELO_VEHICULO_CLASE ML',
       'MODELO_VEHICULO_CLASE S', 'MODELO_VEHICULO_CLASE SL',
       'MODELO_VEHICULO_CLASE SLK', 'FAMILIA_DREAM CARS', 'FAMILIA_MID SIZE',
       'FAMILIA_NGCC', 'FAMILIA_SUV', 'TIPO_PERS_0', 'TIPO_PERS_1',
       'SEXO_CLIENTE_0', 'SEXO_CLIENTE_1', 'SEXO_CLIENTE_2',
       'FORMA_DE_PAGO_FINANC. EXTERNO', 'FORMA_DE_PAGO_LEASING',
       'FORMA_DE_PAGO_NORMAL']

In [38]:
#lectura de datos a predecir
PROVINCIA_CLIENTE='VALPARAISO'
FORMA_DE_PAGO="NORMAL"
FAMILIA='MID SIZE'
SEXO_CLIENTE=2
BLUE_EFFICIENCY=0
MODELO_VEHICULO="CLASE G"
MONTO_VENTA=280002
TIPO_PERS=1

DATA = {"PROVINCIA_CLIENTE":[PROVINCIA_CLIENTE],
           "FORMA_DE_PAGO":[FORMA_DE_PAGO],
           "FAMILIA":[FAMILIA],
           "SEXO_CLIENTE":[SEXO_CLIENTE],
           "BLUE_EFFICIENCY":[BLUE_EFFICIENCY],
           "MODELO_VEHICULO":[MODELO_VEHICULO],
           "MONTO_VENTA":[MONTO_VENTA],
           "TIPO_PERS":[TIPO_PERS]}

DATA

{'PROVINCIA_CLIENTE': ['VALPARAISO'],
 'FORMA_DE_PAGO': ['NORMAL'],
 'FAMILIA': ['MID SIZE'],
 'SEXO_CLIENTE': [2],
 'BLUE_EFFICIENCY': [0],
 'MODELO_VEHICULO': ['CLASE G'],
 'MONTO_VENTA': [280002],
 'TIPO_PERS': [1]}

In [39]:
def variables_dummy(dataset,variable):
    cat_dummies = pd.get_dummies(dataset[variable], prefix=variable)
    data_new = dataset.join(cat_dummies)
    dataset = data_new.drop([variable],axis=1)
    return dataset

In [40]:
predecir = pd.DataFrame(DATA)
tabla=variables_dummy(predecir,"PROVINCIA_CLIENTE")
tabla=variables_dummy(tabla,"MODELO_VEHICULO")
tabla=variables_dummy(tabla,"FAMILIA")
tabla=variables_dummy(tabla,"TIPO_PERS")
tabla=variables_dummy(tabla,"SEXO_CLIENTE")
tabla=variables_dummy(tabla,"FORMA_DE_PAGO")
tabla

,BLUE_EFFICIENCY,MONTO_VENTA,PROVINCIA_CLIENTE_VALPARAISO,MODELO_VEHICULO_CLASE G,FAMILIA_MID SIZE,TIPO_PERS_1,SEXO_CLIENTE_2,FORMA_DE_PAGO_NORMAL
0,0,280002,1,1,1,1,1,1

In [41]:
#cuales son los features que faltan, generamos columnas de 0
d={}
missing_cols = set(columnas_requeridad) - set( tabla.columns )
for c in missing_cols:
    d[c] = 0
faltantes=pd.DataFrame(d,index=[0])

In [42]:
FINAL = pd.concat([faltantes,tabla],axis=1)

In [43]:
FINAL=FINAL[columnas_requeridad]
FINAL

,BLUE_EFFICIENCY,MONTO_VENTA,PROVINCIA_CLIENTE_ANTOFAGASTA,PROVINCIA_CLIENTE_ARAUCO,PROVINCIA_CLIENTE_ARICA,PROVINCIA_CLIENTE_BIO BIO,PROVINCIA_CLIENTE_CACHAPOAL,PROVINCIA_CLIENTE_CALERA DE TANGO,PROVINCIA_CLIENTE_CARDENAL CARO,PROVINCIA_CLIENTE_CAUQUENES,...,FAMILIA_NGCC,FAMILIA_SUV,TIPO_PERS_0,TIPO_PERS_1,SEXO_CLIENTE_0,SEXO_CLIENTE_1,SEXO_CLIENTE_2,FORMA_DE_PAGO_FINANC. EXTERNO,FORMA_DE_PAGO_LEASING,FORMA_DE_PAGO_NORMAL
0,0,280002,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1

## Carga de modelo

In [44]:
loaded_model = joblib.load('modelo_entrenado.pkl')

In [45]:
loaded_model.predict(FINAL)

array([919.73976986])